body {
    background-color: aqua;
    border: crimson;
}

h1 {
    color: rgb(240, 15, 15);
    text-align: center;
    font-size: 50px;
    border: 4px solid #1eff29;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: blue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60;
}

ol {
    margin: 25px 50px 75px;
}